*,*::after,*::before {
    border:0px;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
}

.red-box {
    color:white;
    background: red;
    height: 100%;
    font-size:8em;
    text-align: center;
    position: relative;
}

.red-box .blue-box {
    background: blue;
    position: absolute;
    width: 100%;
    top:25%;
    height: 50%;
}

.red-box .blue-box .white-ball{
    background: white;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    color: blue;
    position: absolute;
    top:15%;
    left:40%;
}

